@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: "Sriracha", cursive;
}

section{
    font-family: var(--fonte3);
}

body{
    margin: 0px;
}

header{
    background-color: black;
    height: 150px;
    margin: 0px;
}
header > h1 {
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 40px;
    font-family: var(--fonte2);
    font-variant: small-caps;
    
}
header > p {
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 10px;
}
